/* Общие стили */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #212529; /* Темный фон */
    color: #f39c12; /* Оранжевый текст */
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #2a2e33; /* Цвет фона хедера */
    color: #f39c12;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.header h1 {
    font-size: 2.5rem;
    margin: 0;
}

/* Стили карточек курса */
.courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* Уменьшение минимальной ширины */
    gap: 15px;
    margin-top: 20px;
}

.course-card {
    display: block;
    background-color: #2a2e33; /* Фон карточек */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 100%;
}

/* Добавление эффекта при наведении */
.course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}

.course-image-wrapper {
    width: 100%;
    height: 180px; /* Установка фиксированной высоты для изображения */
    overflow: hidden;
}

.course-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Чтобы изображение заполнило весь контейнер */
}

/* Стили заголовка курса */
.course-title {
    margin: 0;
    padding: 10px; /* Уменьшение отступов */
    text-align: center;
    font-size: 1.2rem; /* Уменьшение размера шрифта */
    color: #f6f1e9; /* Оранжевый цвет для названия */
    overflow: hidden;
    text-overflow: ellipsis; /* Добавление многоточия при переполнении */
    white-space: nowrap; /* Запрещает перенос строки */
}

/* Стили для футера */
.footer {
    background-color: #2a2e33; /* Темно-серый фон для футера */
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    color: #f39c12;
}

.no-courses {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
    color: #f39c12; /* Оранжевый текст для отсутствующих курсов */
}

.back-arrow {
    position: fixed; /* Закрепляем ссылку в определенном месте */
    top: 10px; /* Отступ сверху */
    left: 10px; /* Отступ слева */
    font-size: 20px; /* Размер текста */
    font-weight: bold; /* Жирный шрифт */
    color: #f39c12; /* Синий цвет */
    text-decoration: none; /* Убираем подчеркивание */
    padding: 5px 10px; /* Отступы внутри ссылки */
    border-radius: 5px; /* Скругленные углы */
    background-color: transparent; /* Белый фон */
    transition: background-color 0.3s ease; /* Плавный переход при наведении */
}

.back-arrow:hover {
    background-color: #f39c12; /* Светлый фон при наведении */
    color: #212529; /* Тёмно-синий цвет текста */
}
